{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock customcss %}

{% block header %}
<h1>Subold</h1>
<a href="../../logout">logout</a>
{{test}}
<a href="../../index/All">All</a>
{% for category in categories %}
<a href="../../index/{{category}}">{{category}}</a>
{% endfor %}
{% endblock header %}

{% block content %}
<p>合計{{prices}}</p>
<div>
  <a href="../../newone" class="regibutton">新規登録</a>
</div>
<main>
  <div class='container'>
    {% for item in items %}
    <div class='onesubsc'>
      <div class='top'>

        <p class='top-right'>{{item.price}}</p>
      </div>
      <div class='middle'>{{item.title}}</div>
      <div class='bottom'>
        <p class='bottom-left'>{{item.period}}</p>
        <a class='bottom-right' id='delete' href=""><i class="fas fa-trash-alt"></i></a>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="">
    <h1>おすすめサブスクリプション</h1>
    <div class="rec-img"></div>
  </div>
</main>
<footer>
  <p>サブスクの管理で家計に革命を</p>
  <p>Make ends meet with SubRin...</p>
</footer>
{% endblock content %}

{%block customjs%}
{{ recs|json_script:"recs" }}
<script type="text/javascript" src="{% static 'index.js' %}"></script>
{%endblock customjs %}